---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div>
          <a class="post-list-header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <div class="post-list-date">{{ post.date | date: "%Y-%m-%d" }} • 
          {% for category in post.categories %}<span class="post-category"> {{ category }}</span>{% endfor %}
          </div>
        </div>
        {% if post.short %}
          <p class="post-list-short">{{ post.short }}</p>
        {% else %}
          <p class="post-list-short">{{ post.content | strip_html | truncatewords:60}}</p>
        {% endif %}
      </li>
      <div class="divider"></div>
    {% endfor %}
  </ul>

</div>
