---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <div>
          <a class="post-list-header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <div class="post-list-date">{{ post.date | date: "%-d %B %Y" }} • 
          {% for category in post.categories %}<span class="post-category"> {{ category }}</span>{% endfor %}
          </div>
        </div>
        {% if post.short %}
          <p class="post-list-short">{{ post.short }}</p>
        {% else %}
          <p class="post-list-short">{{ post.content | strip_html | truncatewords:60}}</p>
        {% endif %}
      </li>
      <div class="divider"></div>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">prev</a>
    {% else %}
      <span>prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">next</a>
    {% else %}
      <span>next</span>
    {% endif %}
  </div>
  {% endif %}
</div>
