.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height; 
}

.page-wrap:after {
  content: "";
  display: block;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
}

.site-title {
  font-size: 2em;
  display:block;
  width:100%;
  text-align: center;
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  padding-bottom:100px;

  p {
    color: $grey-color-dark;
  }

}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-top:30px;
    margin-bottom: $spacing-unit;
    clear:both;
  }
}

.post-list-header {
  font-size: $big-font-size;
  font-family: $sans-font-family;
}

.post-list-date {
  font-size: $tiny-font-size;
  color: $grey-color;
  font-family: $sans-font-family;
}

.post-list-short {
  margin-top:20px;
  line-height: 30px;
  clear:both;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-category {
  color: $color-second-0;
}

/**
 * Posts
 */
.post-header {
  font-family: $sans-font-family;
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 31px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  line-height: 27px;
  h1 {
    font-size: $base-font-size * 1.5;
  }

  h2 {
    font-size: $base-font-size * 1.25;
  }

  h3 {
    font-size: $base-font-size * 1.1;
  }

  img {
    max-width:66%;
    margin: 0 auto;
    display: block;
  }
}

.post-footer {
  text-align: center;
}

.readpage {
  h1,h2,h3 {
    font-family: $sans-font-family;
  }
}

.divider {
  background-color: $grey-color-dark;
  border-radius: 50%;
  height: 3px;
}

.pagination {
  text-align:center;
  font-family: $sans-font-family;
  a,em,span {
    padding-left:10px;
    padding-right:10px;
  }
}

.site-footer, .page-wrap:after {
  height: $footer-height;
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  width: 100%;
}

.social-media-list {
  display: block;
  .list-element {
    display: block;
    float:left;
    width: 33%;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.footer-desc {
  clear:both;
  margin-top: 20px;
  text-align: center;
  color:$grey-color-light;
}

.reading {
  display: none;
}

.link-text {
  font-family: $sans-font-family;
}