hr {
  margin: 60px;
}

.home {
  padding: 10px;
}

// .navbar-brand {
//   font-family: 'UnifrakturCook' cursive;
// }

.content {
  margin-top: 30px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

.page-wrap:after {
  content: "";
  display: block;
}

/**
 * Site header
 */
.site-header {
  min-height: 56px;
}

.site-title {
  font-size: 2em;
  display: block;
  width: 100%;
  text-align: center;
}

/**
 * Page content
 */
.page-content {
  padding-bottom: 100px;

  p {
    color: $grey-color-dark;
  }
}

.page-heading {
  font-size: $big-font-size;
}

.post {
  max-width: 880px;
  padding: 64px;
  background: #f5f5f5b8;
  box-shadow: 12px 18px 24px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .post {
    padding: 16px;
    background: $background-color;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  .page-content {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 720px) {
  .post-list-left {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .sidebar-left {
    display: none;
  }
}

.sidebar-container {
  display: flex;
}

.sidebar-left {
  flex: 1 1 520px;
}

.sidebar-right {
  flex: 1 1 100%;
}

#post-everything {
  margin-top: 60px;
}

.post-overview {
  opacity: 0.2;
  transition: opacity 0.3s ease-out;

  &:hover {
    opacity: 1;
    transition: opacity 0.8s ease-out;
  }

  > ul {
    list-style: none;
  }
}

.post-list {
  margin-left: 0;

  > ul {
    list-style: none;
    max-width: 880px;
    margin-left: 0px;

    > li {
      margin: 30px 0px;
      clear: both;
    }
  }
}

.post-list-container {
  display: flex;
  align-items: stretch;
}

.post-list-left {
  flex: 1 1 120px;
}

.post-list-right {
  flex: 4 4 100%;
}

.post-list-link {
  font-size: $big-font-size;
  font-family: $sans-font-family;
}

.post-list-date {
  padding-left: 4px;
  font-size: $tiny-font-size;
  color: $grey-color;
  font-family: $sans-font-family;
}

.post-list-short {
  margin-top: 20px;
  line-height: 30px;
  clear: both;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-list-categories {
  margin-top: 6px;
}

.category-filter {
  cursor: pointer;

  &.selected {
    color: black !important;
  }
}

.post-category-label {
  border-width: 3px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
}

.post-category-tech {
  color: $color-tag-0;
  background-color: $color-tag-0-light;
  border-color: $color-tag-0-light;
}

.post-category-writing {
  color: $color-tag-1;
  background-color: $color-tag-1-light;
  border-color: $color-tag-1-light;
}

/**
 * Posts
 */
.post-header {
  font-family: $sans-font-family;
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: $big-font-size;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  line-height: $base-line-height;
  h1 {
    font-size: $base-font-size * 1.5;
  }

  h2 {
    font-size: $base-font-size * 1.25;
  }

  h3 {
    font-size: $base-font-size * 1.1;
  }

  img {
    max-width: 66%;
    margin: 0 auto;
    display: block;
  }
}

.post-footer {
  text-align: center;
}

.readpage {
  h1,
  h2,
  h3 {
    font-family: $sans-font-family;
  }
}

.page-list {
  text-align: center;
  font-family: $sans-font-family;
  a,
  em,
  span {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.site-footer,
.page-wrap:after {
  height: $footer-height;
}

.site-footer {
  width: 100%;
}

.social-media-list {
  display: block;
  .list-element {
    display: block;
    float: left;
    width: 33%;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.footer-desc {
  clear: both;
  margin-top: 20px;
  text-align: center;
  color: $grey-color-dark;
}

.reading {
  display: none;
}

.link-text {
  font-family: $sans-font-family;
}

#instructions {
  color: $grey-color-light;
  margin-left: 50px;
  margin-right: 50px;
}

.tr {
  clear: both;
}

.te {
  float: left;
  min-width: 50px;
}
