---
layout: content-full
---

<div class="sidebar-container">
  <div class="sidebar-left">
    <ul class="post-overview">
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <h1 data-toggle="collapse" href="#collapse-{{year.name}}" role="button" aria-expanded="false" aria-controls="collapse-{{year.name}}">{{ year.name }}</h1>
      <ul class="collapse" id="collapse-{{year.name}}">
        {% for post in year.items %}
          <li>{{ post.date | date: "%m-%d" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endfor %}
    </ul>
  </div>

  <div class="sidebar-right">
    {{ content }}
  </div>
</div>
